{% extends 'base.html' %}
{% load static %}
{% block title %}{{ articles.title }}{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'biography.css' %}">

    <header class="biography__header">
        <h1 class="biography__title">{{ articles.title }}</h1>
        <div class="biography__meta">
            <div class="biography__category">Категория:
                {% if article.category %}
                    <a href="{% url 'category_details' slug=article.category.slug %}" class="biography__link">{{ article.category.name }}</a>
                {% else %}
                    Без категории
                {% endif %}
            </div>
            <div class="article__views">
                Просмотры: {{ article.views }}
            </div>
            <div class="biography__published">Опубликовано: {{ article.publication_date|date:"d.m.Y H:i" }}</div>
        </div>
    </header>
    <figure class="biography__figure">
        {% if article.photo %}
            <img src="{{ article.photo.url }}" alt="{{ article.title }}" class="biography__image">
        {% endif %}
        <figcaption class="biography__caption">
            <strong>{{ article.title }}</strong><br>
            {% if article.birth_date %}
                Родился: {{ article.birth_date|date:"d F Y" }}<br>
            {% endif %}
            {% if article.death_date %}
                Умер: {{ article.death_date|date:"d F Y" }}
            {% endif %}
        </figcaption>
    </figure>

    <section class="biography__details">
        <h2 class="biography__subtitle">Биография</h2>
        {{ article.content|safe }}
    </section>
    <div class="biography__tags">
        <span class="biography__tags-tag">
            {% if article.tags.all %}
            {% for tag in article.tags.all %}
                <a href="{% url 'search_articles' %}?query={{ tag.name }}" class="biography__link">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
        </span>
    </div>
    <div class="comments">
        <div class="leftside">
            <h3 class="comments__title">Добавить комментарий</h3>
            <form method="post" class="comment-form">
                {% csrf_token %}
                <div class="form__row">
                    <input type="text" name="name" class="form__input" placeholder="Ваше имя" required>
                    <input type="email" name="email" class="form__input" placeholder="Ваш email" required>
                </div>
                <textarea name="text" class="form__textarea" placeholder="Ваш комментарий" rows="4" required></textarea>
                <div class="form__actions">
                    <button type="submit" class="form__button">Опубликовать</button>
                </div>
            </form>
        </div>
        <div class="rightside">
            <h2 class="comments__subtitle">Комментарии</h2>
            <div class="comments__list">
                {% for comment in comments %}
                    <div class="comment">
                        <p class="comment__header">
                            <span class="comment__user-name">{{ comment.name }}</span>
                            <span class="comment__date">{{ comment.created_at|date:"d.m.Y" }}</span>
                        </p>
                        <p class="comment__text">{{ comment.text }}</p>
                    </div>
                {% empty %}
                    <p class="comment__empty">Комментариев ещё нет... Будьте первыми!</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
