{% extends 'base.html' %}
{% load static %}

{% block title %}Категории{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'catalog.css' %}">

<div class="category__grid">
    {% for category in categories %}
        <a href="{% url 'category_details' category.slug %}" class="category__card-link">
            <div class="category__card">
                {% if category.photo %}
                    <img src="{{ category.photo.url }}" alt="{{ category.name }}" class="category__image">
                {% endif %}
                <div class="category__text">{{ category.name }}</div>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}
