{% extends 'base.html' %}
{% load static %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'catalog.css' %}">

<h1 class="category-title">{{ category.name }}</h1>

<div class="grid-{{ card_count }}">
    {% for row in rows %}
        <div class="articles">
            {% for article in row %}
                <div class="article__card">
                    <a href="{{ article.get_absolute_url }}">
                        {% if article.image %}
                            <img src="{{ article.image.url }}" alt="{{ article.title }}" class="article__image">
                        {% else %}
                            <img src="{% static 'default.jpg' %}" alt="Default Image" class="article__image">
                        {% endif %}
                    </a>
                    <a href="{{ article.get_absolute_url }}" class="article__title">{{ article.title }}</a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

{% if rows|length == 0 %}
    <p class="no-articles">В этой категории пока нет статей.</p>
{% endif %}

{% endblock %}
