{% extends 'base.html' %}

{% block content %}
<div class="biography__content">
    {% for row in rows %}
        <div class="articles__row">
            <h2>{{ row.category.name }}</h2>
            <div class="articles">
                {% for article in row.articles %}
                    {% if article.slug %}
                        <div class="article__card">
                            {% if article.photo %}
                                <img src="{{ article.photo.url }}" alt="{{ article.title }}" class="article__image">
                            {% endif %}
                            <a href="{% url 'biography_details' slug=article.slug %}" class="article__title">{{ article.title }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
