{% extends 'base.html' %}

{% block content %}
<div class="biography__content">
    {% for row in rows %}
    <h2 class="biography__row-title">{{ row.name }}</h2>
    <ul class="biography__grid">
        {% for article in row.articles %}
        <li class="biography__item">
            <a href="{% url 'biography_details' biography.slug %}" class="biography__link">
                <figure class="biography__card">
                    <img class="biography__image" src="{{ article.photo.url }}" alt="{{ article.title }}">
                    <figcaption class="biography__name">{{ article.title }}</figcaption>
                </figure>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
{% endblock %}
