/* Стили для контейнера грида */
.category__grid {
    display: grid;
    gap: 20px;  /* Отступы между карточками */
    margin: 20px 0;
}

/* Стили для каждой карточки */
.category__card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.article__card > .article__title {
    padding-inline: 20px;
    margin: 0;
}

.category__card:hover::after {
    opacity: 1; /* Показать затемнение при наведении */
}

/* Стили для изображений в карточках */
.category__image {
    width: 100%;
    height: 200px;
    object-fit: cover;  /* Заполняем карточку изображением по всей площади */
}


/* Текст на карточке */
.category__text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* Стили для контейнера сортировки */
.sort-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px;
}

.sort-container span {
    margin-right: 10px;
    font-weight: bold;
}

#sort-selector {
    padding: 5px;
    font-size: 14px;
    border-radius: 20px;
}

/* Удаляем старые медиа-запросы и обновляем стили грида */
.grid-3 {
    display: grid;
    gap: 20px;
}

.grid-4 {
    display: grid;
    gap: 20px;
}

.grid-5 {
    display: grid;
    gap: 20px;
}

.grid-6 {
    display: grid;
    gap: 20px;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .grid-3, .grid-4, .grid-5, .grid-6 {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media (max-width: 480px) {
    .grid-3, .grid-4, .grid-5, .grid-6 {
        grid-template-columns: 1fr !important;
    }
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

#sort-form {
    margin-bottom: 0px;
}
